<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Film List</h1>
<h2>
    <a href="addfilm">Add new film</a></br></br>
    <a href="updatefilm">Update film</a></br></br>
    <a href="deletefilm">Delete film</a>
</h2>
<br/><br/>

<div class="container">
    <table class="container" border="1">
        <tr>
            <th><h1>Id</h1></th>
            <th><h1>Name</h1></th>
            <th><h1>Director</h1></th>
        </tr>
        <tr th:each="film : ${films}">
            <td th:utext="${film.id}">...</td>
            <td th:utext="${film.name}">...</td>
            <td th:utext="${film.director}">...</td>
        </tr>
    </table>
</div>
</body>
</html>