@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body,input,button{
    font-family: Inter,sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color: #f8faef;
    background-color:#3f334d;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color:#f8faef;
}

h2{
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    display: block;
    padding-bottom: 2em;
    color:#7d8491;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
h2 a{
    font-weight: 700;
    text-transform: uppercase;
    color:#7d8491;
    text-decoration: none;
}